body {
    background-color: #ebe9e9;
    min-height:100vh;
}
.vertical-spacer {
    min-height:3em;
}
#content {
    padding: 2vh 8vw;
    min-height:95vh;
}
#hodi-logo {
    min-width: 15%;
}
.headline-font {
    font-family: 'Asap', sans-serif;
    font-weight:lighter;
}
span.header-em {
    text-decoration: underline;
    text-decoration-color: #f6ae2d;
}
#superhero-img {
    min-width:100%;
    max-width:700px;
    padding-top:2em;
}
#main-title {
    color: #310a31;
}
#subtitle {
    margin-top:0.3em;
    color: #291529;
}
#cta {
    border:none;
    background-color: #f6ae2d;
    color: #310a31;
    font-size:2em;
}
#footer-row {
    min-height:5vh;
    text-align: center;
    width:100%;
    color: #555;
    font-size:0.8em;
}
#footer-row span {
    vertical-align: bottom;
    padding-top:auto;
}
#footer-row a {
    color: #333;
}
.job-opening {
    padding:10px;
    margin:5px;
    border: 1px solid #888;
    border-radius:4px;
    background: #fafafa;
}
.job-opening h3 {
    margin-top: 0.5em;
}
.job-opening ul li {
    margin-left: 1.2em;
    list-style-type: disc;
}
.job-opening p {
    margin-top:0.3em;
    margin-bottom:0.3em;
}