body {
    background-color: #310a31;
    min-height:100vh;
}
.vertical-spacer {
    min-height:3em;
}
#content {
    padding: 2vh 8vw;
}
#hodi-logo {
    min-width: 25%;
}
.headline-font {
    font-family: 'Asap', sans-serif;
    font-weight:lighter;
}
span.header-em {
    font-weight: bold;
}
#main-title {
    font-size:7vw !important;
    color: #3fc4b6;
}
#subtitle {
    color: #76c4bb;
}
#cta {
    background-color: #3fc4b6;
    border:none;
    color: #310a31;;
    font-size:2em;
}